@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar:not(:hover)::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base{
  body{
    @apply bg-[#F9F9F9]
  }
}
@layer components {
  .side_btn{
    @apply flex    focus:bg-slate-400 focus:text-white hover:bg-gray-200  rounded  items-center  w-full transition duration-150 ease-out 
  }
}
